<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="keyboard.android.psyphertxt.com">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:icon="@drawable/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name_label"
        tools:replace="android:label"
        android:hardwareAccelerated="true">

        <service android:name=".EmojiKeyboardService"
                 android:label="@string/app_name"
                 android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

        <receiver android:name=".ShareBroadcastReceiver" android:exported="true"/>

        <activity
            android:name=".stickers.StickerActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:resizeableActivity="false"
            android:label="">
        </activity>

        <activity
            android:name=".stickers.StickerFirstTimeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".stickers.StickerLauncherActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".stickers.StickerAboutActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            android:parentActivityName=".stickers.StickerActivity">
        </activity>

        <activity
            android:name=".stickers.StickerDetailActivity"
            android:theme="@style/AppTheme">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.inputcontent"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c12288a6699745e6d13d009cdcc2ca8ce18c38dd" />
    </application>

</manifest>
