<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="keyboard.android.psyphertxt.com">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".App"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_label"
        android:largeHeap="true"
        tools:replace="android:label">
        <service
            android:name=".EmojiKeyboardService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <receiver
            android:name=".ShareBroadcastReceiver"
            android:exported="true" />

        <activity
            android:name=".stickers.StickerActivity"
            android:label=""
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="h3yet.app.goo.gl"
                    android:scheme="http" />
                <data
                    android:host="h3yet.app.goo.gl"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".stickers.StickerFirstTimeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"></activity>

        <!--android:name=".stickers.PurchaseStickerActivity"-->

        <activity
            android:name=".stickers.StickerLauncherActivity"
            android:label="@string/app_name_label"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".stickers.StickerAboutActivity"
            android:label="@string/app_name"
            android:parentActivityName=".stickers.StickerActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".stickers.StickerDetailActivity"
            android:theme="@style/AppTheme"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.inputcontent"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c12288a6699745e6d13d009cdcc2ca8ce18c38dd" />

        <activity android:name=".stickers.PurchaseStickerActivity"
                    android:theme="@style/AppTheme"/>
    </application>

</manifest>